<html lang="en">

<body>

    <form action="/book" method="POST">

      <label for="title">Book Name:</label>
      <input type="text" id="title" name="title" required>

      <label for="snippet">Author:</label>
      <input type="text" id="author" name="author" required>

      <label for="body">Description:</label>
      <textarea id="body" name="body"></textarea>

      <button>Submit</button>
      
    </form>
</body>
</html>