<html lang="en">
<head>
  <title>Welcome to my website</title>
</head>
<body style="background-color:pink">
  <h1>Home</h1>
  <h2>Get details</h2>
  <h2>Message <%= 3+ 7%></h2>
  
  <%= text %>
</body>
</html>